target/classes/1209107_show_default.png
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com/imageProcessing/pom.properties
target/classes/META-INF/maven/com/imageProcessing/pom.xml
target/classes/META-INF/maven/com/trimmer/pom.properties
target/classes/Super_Paper_Mario_icon.png
target/classes/com/imageprocessing/Main$1.class
target/classes/com/imageprocessing/Main.class
target/classes/com/imageprocessing/gui/MainFrame$1.class
target/classes/images/Scan0004.jpg
target/classes/META-INF/maven/com/trimmer/pom.xml
target/classes/com/imageprocessing/filters/FiltroEnderezar.class
target/classes/com/imageprocessing/gui/MainFrame.class
target/classes/images/Scan0003.jpg
target/classes/images/Scan0007.jpg
target/classes/images/in.jpg
target/classes/images/sample.jpg
target/classes/log4j.properties
target/classes/images/Scan0009.jpg